<body>
  <header>
    <h1>ブログ詳細画面</h1>
    <div class="contents">
    <p>タイトル: <%= @blog.title %></p>
    <p>内容: <%= @blog.content %></p>
    <strong>Image:</strong>
   <p>
    <% if @blog.image? %>
    <%= image_tag @blog.image.url %>
    <% end %>
   </p>
 </div>
 </header>
<footer>
  <%= link_to "ブログ一覧画面にもどる", blogs_path %>
  <% unless @blog.user_id == current_user.id %>
    <% end %>
</footer>
</body>
